{% extends 'base.html' %}
{% load static %}

{% block content%}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/portfolio/contract1.jpg' %}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Web design</li>
                <li><strong>Client</strong>: Halogen Security Company</li>
                <li><strong>Project date</strong>: 01 October, 2021</li>
                <li><strong>Project URL</strong>: <a href="https://halobiz-contract-mgmt.web.app/" target="_blank">www.halobiz-contract-mgmt.web.app/</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Summary</h2>
              <p>
                Worked with an agile team to build a 
                contract-management system that allows 
                every sales manager to keep track of 
                their client for proper accounting, 
                Invoicing and Subscription . <br><br>
                The system was built using Angular, 
                TypeScript, JavaScript, BootStrap,
                Materialise, NGRX, HTML, and CSS, 
                and also worked with back-end developers to integrate API .
              </p>
              
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
 
  </main><!-- End #main -->

  {% endblock %}
  