{% extends 'base.html' %}
{% load static %}

{% block content%}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/portfolio/orange7.png' %}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/portfolio/orange11.png' %}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/portfolio/orange8.png' %}" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Web design</li>
                <li><strong>Client</strong>: Software Business Solution Consulting (SBSC)</li>
                <li><strong>Project date</strong>: 30 December, 2023</li>
                <li><strong>Project URL</strong>: <a href="https://orange-card-customer.web.app/" target="_blank">www.orange-card-customer.web.app</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Summary</h2>
              <p>
                orange card is a website for teachers all over the world, where they can purchase educative materials, register and attend seminars, and get news, updates and articles on how to become a successfull teacher.
              </p>
              <p>
                I single handedly built the front-end of this website from start to finish  with Angular, Typescript, Bootstrap,
                NGRX, HTML, SCSS and integrated all APIs .
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  {% endblock %}
  